.root {
	display:flex;
	flex-direction:column;
	height:100%;

	.siteHeader {
		flex: 0 0 auto;
	}

	.grid {
		flex:           1;
		overflow:hidden;
		display:        flex;
		scroll-behavior: smooth;
	}
}

.rightPanel {
	display:        flex;
	flex-direction: column;
	width: 100%;
	overflow:hidden;
}

[data-left-sidebar-open='true'] .rightPanel > :last-child {
	margin-left:var(--left-sidebar-width);
}

.topBar {
	height: 64px;
}
